*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #FF9999;

    --fs-h1: 3rem;
    --fs-h2: 2.2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
    --fs-p: 0.9rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.35em rgba(0,0,0.15);
}

@media (min-width: 800px){
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.5rem;
        --fs-h3: 2.5rem;
        --fs-body: 1.5rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section { padding: 1em 2em}

img {
    display: block;
    max-width: 100%;
}

.strong {font-weight: var(--fw-bold)}

//Basic typographic
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

.section__title-about{
    background: var(--clr-dark);
    font-family: var(--ff-secondary);
    color: var(--clr-light);
    line-height: 1em;
    margin-bottom: .5em; 
}

.section__title {
    margin-bottom: .25rem; 
    background: var(--clr-dark);
    font-family: var(--ff-secondary);
    color: var(--clr-light);
}

.section__title-brand {
    font-weigth: var(--fw-reg);
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    line-height: .2rem;
    padding: .2rem;
    margin: 1rem 0rem!important;
}

.section__title-brand strong { display: block; }
.section__title-product{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle-brand {
    font-weigth: var(--fw-reg);
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    line-height: .2em;
    padding: .2rem;
    margin: 1rem 0rem!important;
}

.section__subtitle-products {  
    font-weigth: var(--fw-reg);
    background: var(--clr-accent);
    font-family: var(--ff-primary);
    color: var(--clr-dark);
    line-height: 1em;
    paddin: 0.5rem;
    margin: 1rem;
}

@media (min-width: 800px){
    .section__content-products {
        display: flex;
        font-weigth: var(--fw-reg);
        max-width: 1300px;
        margin: 0 auto;
    }

    .content-product + .content-product {
        margin-left: 2em;
    }

    .content-product__title { 
        font-size: var(--fs-body);
        margin: 0;
    }
}

.section__subtitle-about,
.content-product__subtitle {
    font-weigth: var(--fw-reg);
    background: var(--clr-accent);
    font-family: var(--ff-primary);
    color: var(--clr-dark);
    margin-top: 0;
}

.content-product {
    max-width: 400px;
    margin: 0 auto;
}

.section__content-item {
}

/* Header **/
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.katbin-logo {
    max-width: 100px;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 2em;
    right: 1em;
    z-index: 200;
}

.katbin-nav { 
    position: absolute;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 350ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 6px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 12px; }
.hamburger::after { bottom: 12px; }

.nav-open .katbin-nav { 
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-12px);
}
.nav-open .hamburger::after {
    opacity: 0;
}

.social-list__link {
    font-size: var(--fs-h1);
}

.brand__img {
    box-shadow: var(--bs);
}

.brand { position: relative;}

.section__subtitle-band{
    display: inline-block;
}

@media (min-width: 600px){
    .brand {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .brand__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    } 

    .section__subtitle-brand {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: 0;
        width: calc(100%);
    }

    .products {
        background-color: var(--clr-dark);
        background-image: url(../images/products.png);
        background-size: cover;
        bacground-blend-mode: multiply;
        color: var(--clr-light);
        text-align: center;
    }
}

.about-us {
    max-width: 1300px;
    margin: 0 auto;
}

.about-us__img {
    box-shadow: var(--bs);
}

details {
    padding-bottom: 1em;
}

@media(min-width: 600px){
    .about-us {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-columns-gap: 2em;
    }

    .section__title-about {
        grid-area: title;
        margin-top: 0;
    }

    .section__subtitle-about {
        grid-area: subtitle;
        grid-row: 2;
        position: relative;
        width: calc(130% - 2em);
        padding-right: 7.5em;
    }

    .section__content-about {
        grid-area: text;
    }

    .about-us__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

.our-portfolio {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__subtitle-portfolio {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform: 750ms cubic-bezier(.5, 0, .5, 1),
        opacity: 250ms linear;
}

.portfolio__img:hover {
    transform: scale(1.4);
    opacity: .65;
}

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a { 
    color: inherit; 
    text-decoration: none;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer_link:hover{
    text-decoration: underline;
}


.social__link {
    list-style: none;
    display: flex;
    justify-content: center;
    argin: 2em 0 0;
    padding: 1em;
}

.social-list__item {
    margin: 0 .5em;
}





